.error-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 3em;

    .error-content {
        text-shadow: 0 3px black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
